/* General Styling */
* {
  box-sizing: border-box;
}
body {
  width: 90%;
  margin: 0 auto;
  background-color: #219ebc;
  padding: 5rem 0;
  font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
  background-color: #023047;
  border: 3px solid #ffb703;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #fb8500;
}

/* Navigation */
nav {
  text-align: center;
}
/* Adding Flexbox to nav */
ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  padding-left: 0rem;
}

/* Links */
a {
  color: #ffb703;
  text-decoration: none;
}
a:hover {
  color: #fb8500;
  text-decoration: underline;
}

/* Text */
h1 {
  text-align: center;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h1,
h2,
h3 {
  color: #8ecae6;
  text-shadow: 2px 2px #219ebc;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
a {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}
p {
  color: #219ebc;
  line-height: 1.5;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}
em,
strong {
  color: #fb8500;
}

/* Images */
#img-wrapper img {
  margin: 1.5rem auto;
  /* width: 50%; */
  display: block;
}

/* Sections, Footer */
section,
footer {
  padding: 0.5rem 2rem;
}

/* Section Specific Styling */
#intro p {
  text-align: left;
}
#history {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Form Styles */
form > div {
  margin-bottom: 1rem;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  color: #fb8500;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}
input,
textarea {
  display: block;
  width: 50%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  border: none;
  font-family: inherit;
}
input[type="checkbox"] {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}
#form-check > label {
  display: inline-block;
}
button {
  background-color: #219ebc;
  color: #ffb703;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 1px solid #219ebc;
}
button:hover {
  background-color: #023047;
  border: 1px solid #ffb703;
}
